# autotools stuff
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
src/*.lo
src/.libs/
stamp-h1
autom4te.cache/
.libs/
config.guess
config.sub
*.la
m4/
ltmain.sh
libtool

# objects
/src/*.o
/stoken
/stoken-gui
/stoken-*.tar.gz
/stoken.pc

# scratch files
.*.sw*
*~
