[Desktop Entry]
Name=Software Token
GenericName=Software Token
Comment=RSA SecurID-compatible software token
Exec=stoken-gui
Icon=stoken-gui
Terminal=false
Type=Application
Categories=Security;GTK;Utility;
Keywords=RSA;SecurID;Authenticator;
